.cardImg {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    cursor: pointer;
}
.cardInfo {
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 10px;
    font-weight: 600;
}
